body {
	width: 80%;
	padding-left: 10%;
	padding-right: : 10%;
	font-family: sans-serif;
	color: rgb(80,80,80);
}

button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.capatalize::first-letter {
    text-transform: uppercase;
}

.button {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.error {
	color: red;
	font-size: small;
}