* {
  border-radius: 0 !important;
}

.email-container {
  padding: 3rem 1.5rem;
  text-align: center;
  padding-right: 10rem;
}

.dropdown-toggle:hover .dropdown-item {
  display: block;
}

.dropdown-menu {
  margin-top: 0px;
}

/* This for agents.html
***************************************/
.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: black;
	stroke-width: 1px;
}

.container {
  padding-top: 5rem;
}

.box {
  background-color: lightgray;
  position: absolute;
  right: -12rem;
  width: 35rem;
  height: 60rem;
  border: 1px solid gray;
}

.agent-container {
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid gray;
}

svg {
  background: #f6f6f6;
  border: 1px solid gray;
  position: absolute;
  left: -10rem;
}